/auto/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
/cretaceous_constraints.log
/cretaceous_constraints.pdf
/cretaceous_constraints.run.xml
/cretaceous_constraints.tex
*.ods
/imgs/*.png
*.pdf
*.xlsx
*.xls
.RData
.Rproj.user
.Rprofile
plots/*.png
out/*.rds
/*.tar.gz
/*.Rcheck/
*.html
*.pdf
*.odt
*.dvi
*.org_archive
*.svg
asreview/*
.Rhistory
/man/*.Rd
.Rdata
.httr-oauth
.DS_Store
.quarto
